<br/>
<div>
    <h2>Results</h2>
    <h3><%= location_data %></h3>
    <p>Latitude: <%= lat %></p>
    <p>Longitude: <%= lon %></p>
    <p>Next ISS Pass Over Your Location:
    Risetime: <%= risetime %> Duration: <%= duration %> seconds</p>
</div>
