<h1>ISS Astronauts</h1>
<h3>Total Astronauts on Board: <%= @total_astronaut_count %> </h3><br>

<ol>
<% @astronaut_names.each do |astro| %> 
    <li> <%= astro %> </li><br>
    <% end %>
</ol>

<%= form_tag("/search", method: "get", remote: true) %>
    <%= text_field_tag :search, params[:search], :id => 'indexsearch' %>
    <%= submit_tag "Search" %> 

<div id="search"> </div>